* {
	font-family: Arial, sans-serif;
}

body {
	background-color: #3d3d3d;
	color: #f2f2f2;
	line-height: 1.6;
	font-size: 18px;
}

h1, h2, h3 {
	line-height: 1.2
}

input[type=text] {
	background-color: #5e5e5e;
	color: #f2f2f2;
	border: none;
	border-bottom: 2px solid #ba0000;
}

.hide {
	display: none;
}

/*button {*/
/*background-color: #ba0000;*/
/*border: none;*/
/*color: #f2f2f2;*/
/*padding: 15px 32px;*/
/*text-align: center;*/
/*text-decoration: none;*/
/*display: inline-block;*/
/*font-size: 16px;*/
/*margin: 4px 2px;*/
/*cursor: pointer;*/
/*}*/

button {
	color: #fff;
	background-color: #ba0000;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 5px #630000;
	display: inline-block;
	padding: 8px 8px;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

button:active {
	transform: translateY(2px);
}

button.red {
	box-shadow: 0 2px 5px #630000;
	background-color: #ba0000;
}

button.blue {
	background-color: #0046b7;
	box-shadow: 0 2px 5px #002766;
}

.prettyTable {
	border-collapse: collapse;
}

.prettyTable th, td {
	text-align: left;
	padding: 8px;
}

.prettyTable tr:nth-child(even) {
	background-color: #5e5e5e
}

.prettyTable th {
	background-color: #ba0000;
	color: #f2f2f2;
}

/* unvisited link */
a:link {
	color: deepskyblue;
}

/* visited link */
a:visited {
	color: dodgerblue;
}

/* mouse over link */
a:hover {
	color: lightcoral;
}

/* selected link */
a:active {
	color: coral;
}